.right-line{
  border-right: 1px solid #eee;
}

.plus-icon {
  background: url('../img/Home_75.png') no-repeat 0 0;
  width: 9px;
  height: 9px;
  display: block;
  margin-top: 5px;
  margin-right: 5px;
}

.twitter-icon {
  background: url('../img/Home_72.png') no-repeat 0 0;
  width: 24px;
  height: 22px;
  display: block;
  margin-top: -1px;
  margin-right: 5px;
}

.fb-icon {
  background: url('../img/Home_80.png') no-repeat 0 0;
  width: 25px;
  height: 25px;
  display: block;
  margin-top: -1px;
  margin-right: 5px;
}

.gg-icon {
  background: url('../img/Home_84.png') no-repeat 0 0;
  width: 24px;
  height: 23px;
  display: block;
  margin-top: -1px;
  margin-right: 5px;
}

.youtube-icon {
  background: url('../img/Home_88.png') no-repeat 0 0;
  width: 26px;
  height: 26px;
  display: block;
  margin-top: -1px;
  margin-right: 5px;
}

footer .strong {
  font-weight: bold;
  font-size: 20px;
}

footer {
  color: #666666;
}

footer span {
  display: block;
  margin-bottom: 14px;
}

footer .footer-list {
  margin-left: 14px;
}

footer p {
  margin-bottom: 25px;
  margin-top: 25px;
}

footer .well {
  background-color: #E5E5E5;
    margin-bottom: 0;
}

footer a{
  color: #666666;
}