.blue {
    color: #0063af;
}

.red {
    color: #ff0500;
}

.green {
    color: #7db751;
}

.grey {
    color: #333;
}

body {
    /*font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;*/
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
}

p {
    font-size: 14px;
}

p.description {
    font-size: 13px;
    line-height: 1.2em;
    height: 3.6em;
    overflow: hidden;
}

.main-content-wrap {
    background-color: #EEF5FF;
    padding-bottom: 20px;
}

.header-wrap {

}

.header-wrap .top-header {
    /*border-bottom: 1px solid #e0e0e0;*/
    /*height: 40px;*/

}

.header-wrap .personalize {
    /*display: inline-block;*/
    float: right;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0 0 10px 10px;

}

.header-wrap .personalize img {
    bottom: 3px;
    position: relative;
}

.header-wrap .personalize ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header-wrap .personalize ul li{
    float: left;
    margin: 8px 0px 3px;
    padding: 0 15px;
    background: url("../img/dotted-border.png") center right no-repeat;
}

.header-wrap .personalize ul li:last-child {
    background: none;
}

.header-wrap .personalize ul li a {
    color: #333;
}

.header-wrap .personalize ul li a:hover {
    text-decoration: none;
}

.header-wrap .personalize ul li.active{
    /*border-top: 1px solid #e0e0e0;*/
    /*border-right: 1px solid #e0e0e0;*/
    /*border-left: 1px solid #e0e0e0;*/
    /*border-bottom: 1px solid #fff;*/
    margin-bottom: -1px;
    font-weight: 500;
}

.header-wrap .personalize ul li.active a {
    color: #0063af;

}


.header-wrap .login-box {
    float: right;
    margin-top: 10px;
    display: block;
    position: relative;
    min-width: 220px;
}

.header-wrap .login-box a {
    color: #333;
    text-decoration: none;
}

.header-wrap .login-box a:hover {
    color: #0063af;
}

.header-wrap .login-box .icon-register {
    position: relative;
    bottom: 2px;
}

.header-wrap .login-box .lang-choice {
    float: right;
    /*margin-left: 40px;*/
    /*margin-top: 0;*/
    /*position: absolute;*/
}

.header-wrap .login-box .lang-choice .dropdown-menu {
    min-width: 102px;
    padding: 5px;
    left: -57px;
}

.header-wrap .login-box .lang-choice .dropdown-menu li {
    margin: 10px 0;
}


.header-wrap .main-header {
    border-bottom: 2px solid #0063af;
    padding-bottom: 20px;

}

.no-line .header-wrap .main-header {
    border-bottom: none;
}

.header-wrap .main-header .container {
    position: relative;
}

.header-wrap .main-header .logo {
    margin-top: 20px;
    float: left;
    position: relative;
    z-index: 1000;
}

.header-wrap .main-header .header-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-right: 15px;
}

.header-wrap .main-header .header-menu ul.level-1 {
    list-style: none;
    float: right;
    padding-left: 0;
}

.header-wrap .main-header .header-menu ul.level-1 li {
    float: left;
    font-size: 16px;
    font-weight: 500;
    margin-left: 40px;
    position: static;
}



.header-wrap .main-header .header-menu ul.level-1 li a {
    color: #333;
}

.header-wrap .main-header .header-menu ul.level-1 li a:hover,
.header-wrap .main-header .header-menu ul.level-1 li a:focus{
    color: #0063af;
    text-decoration: none;
}

.header-wrap .main-header .header-menu ul.level-1 li .dropcaret {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 8px 7.5px;
    border-color: transparent transparent #0063af transparent;
    position: absolute;
    bottom: -20px;
    margin-left: 21px;

}

.header-wrap .main-header .header-menu ul.level-1 li#search .dropcaret {
    margin-left: 0;
}

.header-wrap .main-header .header-menu ul.level-1 li .dropdown-phay {
    position: relative;
    bottom: -1px;
    margin-left: 5px;
}
.header-wrap .main-header .header-menu ul.level-1 li .dropdown-phay img{

}

.header-wrap .main-header .header-menu ul.level-2 {
    position: absolute;
    background: #0063af;

    list-style: none;
    /*display: none;*/

    padding: 0;
    /*background: none;*/
    margin: 20px 0 0 0;
    border: none;
    box-shadow: none;
    left: inherit;
}

.header-wrap .main-header .header-menu ul.level-2 li {
    margin-left: 0;
    float: left;
    padding: 10px 30px;
    background: #0063af;
    position: relative;
}

.header-wrap .main-header .header-menu ul.level-2 li:hover,
.header-wrap .main-header .header-menu ul.level-2 li.hover,
.header-wrap .main-header .header-menu ul.level-2 li.hover a {
    background: #E7E7E7;
    color: #333 !important;
}

.header-wrap .main-header .header-menu ul.level-2 li a {
    color: #fff;
    font-weight: normal;
    /*font-size: 14px;*/
}

.header-wrap .main-header .header-menu ul.level-2 li a:hover,
.header-wrap .main-header .header-menu ul.level-2 li a:focus {
    color: #333;
    background: #E7E7E7;
}

.deep-set-border-line {
    height: 48px;
    border-left: 1px solid #15498E;
    border-right: 1px solid #507FB6;
    float: left;
}

#menu-goicuoc, #menu-dichvu, #menu-mymobifone, #menu-khuyenmai {
    /*width: 100%;*/
    right: 0;
}

#menu-thietbi {
    /*left: -20px;*/
}

#menu-goicuoc > li, #menu-dichvu > li, #menu-mymobifone > li,
#menu-goicuoc > .deep-set-border-line, #menu-dichvu > .deep-set-border-line, #menu-mymobifone > .deep-set-border-line
{
    /*float: right;*/
}

#menu-goicuoc > li {
    padding: 10px 0;
}

#menu-dichvu > li {
    padding: 10px 26px;
}

#menu-mymobifone > li {
    padding: 10px 0;
}

#menu-mymobifone {
    left: 29%;
}

#menu-search {
    left: 42%;
    width: 58%;
}

#menu-search li {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

#menu-search li:hover {
    background-color: inherit;
}

.header-wrap .main-header .header-menu div.level-3 {
    /* width: 100%; */
    height: auto;
    /* display: inline-block; */
    background: #e7e7e7;
    margin-left: 5px;
    margin-top: 48px;
}

.header-wrap .main-header .header-menu div.level-3 ul {
    /*float: left;*/
    background: #e7e7e7;
    display: none;
    list-style: disc;
    width: 100%;
    margin-bottom: -5px;
}

.header-wrap .main-header .header-menu div.level-3 ul li {
    float: left;
    background: #e7e7e7;
    list-style: disc;
    /*width: 14%;*/
    /*height: 52px;*/
}

#menu-dichvu div.level-3 ul li {
    width: 220px;
}
.header-wrap .main-header .header-menu div.level-3 ul li a {
    color: #333 !important;
    font-size: 14px;
    font-weight: normal;
}

.home-slider-wrap {
    position: relative;
}

.home-slider-wrap .owl-carousel-control {
    position: absolute;
    bottom: 10%;
    left: 10%;

}


.home-slider-wrap .owl-carousel-control ul li {
    opacity: 0.4;
}

.home-slider-wrap .owl-carousel-control ul li:hover {
    opacity: 1;
    cursor: pointer;
}

#home-slider {

}

#home-slider .item {

}

#home-slider .item > img {
    width: 100%;
    display: block;
    height: auto;
}

#home-slider .item .description-wrap {
    background-color: rgba(255,255,255,0.7);
    border-radius: 15px;
    position: absolute;
    bottom: 10%;
    right: 7%;
    max-width: 550px;
    padding: 10px 20px;
}

#home-slider .item .description-wrap h3 {
    color: #0063af;
    font-weight: 100;
}

#home-slider .item .description-wrap p {
    font-size: 15px;
}
#home-slider .item .description-wrap .show-more {
    font-weight: 500;
    text-align: right;
}



.xs-navbar .navbar-brand {
    height: 65px;
}

.xs-navbar .navbar-brand img {
    /*height: 100%;*/
}

.xs-navbar .navbar-toggle {
    margin-top: 17px;
}


.goicuoc-slider-wrap {
    margin: 20px 0;
    margin-right: -10px;
}

.goicuoc-slider-wrap .slider-title {

}

.goicuoc-slider-wrap .slider-title h3 {
    display: inline-block;
    margin: 0 0 20px 0;
}

.goicuoc-slider-wrap .slider-title .owl-carousel-control {
    float: right;
}

#goicuoc-slider {
    /*margin-left: 10px;*/
}

#goicuoc-slider .item {
    /*margin-left: 10px;*/
    margin-right: 10px;
    height: 188px;
}

#goicuoc-slider .item .widget {
    height: 100%;
}

#goicuoc-slider .seperate-line {
    width: 10px;
    display: block;
    height: 100%;
}

#goicuoc-slider .description {
    width: 46%;
}

.widget {
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 200px;
    /*max-height: 208px;*/
    background-color: #fff;
}



.widget .description-wrap {
    margin: 0 30px;
}

.widget .description-wrap h4 {
    line-height: 1em;
    height: 2em;
    overflow: hidden;
}

.widget .description-wrap h3 {

}


.widget .description-wrap .description {

}

.widget .description-wrap .show-more {

}

.widget .description-wrap .show-more a{

}



.widget .description-wrap.white {
    color: #fff;
}


.rectangle-widget {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

.rectangle-widget .description {
    width: 35%;
}

.square-widget {
    background-size: cover;
    margin-bottom: 10px;
}

.square-widget .description-wrap {
    margin: 0 15px;
}

.online-feature {
    margin: 40px -20px;
}

.narrow-col .col-xs-1, .narrow-col .col-sm-1, .narrow-col .col-md-1, .narrow-col .col-lg-1, .narrow-col .col-xs-2, .narrow-col .col-sm-2, .narrow-col .col-md-2, .narrow-col .col-lg-2, .narrow-col .col-xs-3, .narrow-col .col-sm-3, .narrow-col .col-md-3, .narrow-col .col-lg-3, .narrow-col .col-xs-4, .narrow-col .col-sm-4, .narrow-col .col-md-4, .narrow-col .col-lg-4, .narrow-col .col-xs-5, .narrow-col .col-sm-5, .narrow-col .col-md-5, .narrow-col .col-lg-5, .narrow-col .col-xs-6, .narrow-col .col-sm-6, .narrow-col .col-md-6, .narrow-col .col-lg-6, .narrow-col .col-xs-7, .narrow-col .col-sm-7, .narrow-col .col-md-7, .narrow-col .col-lg-7, .narrow-col .col-xs-8, .narrow-col .col-sm-8, .narrow-col .col-md-8, .narrow-col .col-lg-8, .narrow-col .col-xs-9, .narrow-col .col-sm-9, .narrow-col .col-md-9, .narrow-col .col-lg-9, .narrow-col .col-xs-10, .narrow-col .col-sm-10, .narrow-col .col-md-10, .narrow-col .col-lg-10, .narrow-col .col-xs-11, .narrow-col .col-sm-11, .narrow-col .col-md-11, .narrow-col .col-lg-11, .narrow-col .col-xs-12, .narrow-col .col-sm-12, .narrow-col .col-md-12, .narrow-col .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.narrow-col.row {
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 5px;
}


.super-narrow-col .col-xs-1, .super-narrow-col .col-sm-1, .super-narrow-col .col-md-1, .super-narrow-col .col-lg-1, .super-narrow-col .col-xs-2, .super-narrow-col .col-sm-2, .super-narrow-col .col-md-2, .super-narrow-col .col-lg-2, .super-narrow-col .col-xs-3, .super-narrow-col .col-sm-3, .super-narrow-col .col-md-3, .super-narrow-col .col-lg-3, .super-narrow-col .col-xs-4, .super-narrow-col .col-sm-4, .super-narrow-col .col-md-4, .super-narrow-col .col-lg-4, .super-narrow-col .col-xs-5, .super-narrow-col .col-sm-5, .super-narrow-col .col-md-5, .super-narrow-col .col-lg-5, .super-narrow-col .col-xs-6, .super-narrow-col .col-sm-6, .super-narrow-col .col-md-6, .super-narrow-col .col-lg-6, .super-narrow-col .col-xs-7, .super-narrow-col .col-sm-7, .super-narrow-col .col-md-7, .super-narrow-col .col-lg-7, .super-narrow-col .col-xs-8, .super-narrow-col .col-sm-8, .super-narrow-col .col-md-8, .super-narrow-col .col-lg-8, .super-narrow-col .col-xs-9, .super-narrow-col .col-sm-9, .super-narrow-col .col-md-9, .super-narrow-col .col-lg-9, .super-narrow-col .col-xs-10, .super-narrow-col .col-sm-10, .super-narrow-col .col-md-10, .super-narrow-col .col-lg-10, .super-narrow-col .col-xs-11, .super-narrow-col .col-sm-11, .super-narrow-col .col-md-11, .super-narrow-col .col-lg-11, .super-narrow-col .col-xs-12, .super-narrow-col .col-sm-12, .super-narrow-col .col-md-12, .super-narrow-col .col-lg-12 {
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 1px;
}

.super-narrow-col.row {
    margin-right: -3px;
    margin-left: -3px;
    margin-bottom: 1px;
}




.row.reset-padding {
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 5px;
}

.no-padding .col-xs-1, .no-padding .col-sm-1, .no-padding .col-md-1, .no-padding .col-lg-1, .no-padding .col-xs-2, .no-padding .col-sm-2, .no-padding .col-md-2, .no-padding .col-lg-2, .no-padding .col-xs-3, .no-padding .col-sm-3, .no-padding .col-md-3, .no-padding .col-lg-3, .no-padding .col-xs-4, .no-padding .col-sm-4, .no-padding .col-md-4, .no-padding .col-lg-4, .no-padding .col-xs-5, .no-padding .col-sm-5, .no-padding .col-md-5, .no-padding .col-lg-5, .no-padding .col-xs-6, .no-padding .col-sm-6, .no-padding .col-md-6, .no-padding .col-lg-6, .no-padding .col-xs-7, .no-padding .col-sm-7, .no-padding .col-md-7, .no-padding .col-lg-7, .no-padding .col-xs-8, .no-padding .col-sm-8, .no-padding .col-md-8, .no-padding .col-lg-8, .no-padding .col-xs-9, .no-padding .col-sm-9, .no-padding .col-md-9, .no-padding .col-lg-9, .no-padding .col-xs-10, .no-padding .col-sm-10, .no-padding .col-md-10, .no-padding .col-lg-10, .no-padding .col-xs-11, .no-padding .col-sm-11, .no-padding .col-md-11, .no-padding .col-lg-11, .no-padding .col-xs-12, .no-padding .col-sm-12, .no-padding .col-md-12, .no-padding .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
}

.dichvu#dem .tang2 .col-xs-1, .dichvu#dem .tang2 .col-sm-1, .dichvu#dem .tang2 .col-md-1, .dichvu#dem .tang2 .col-lg-1, .dichvu#dem .tang2 .col-xs-2, .dichvu#dem .tang2 .col-sm-2, .dichvu#dem .tang2 .col-md-2, .dichvu#dem .tang2 .col-lg-2, .dichvu#dem .tang2 .col-xs-3, .dichvu#dem .tang2 .col-sm-3, .dichvu#dem .tang2 .col-md-3, .dichvu#dem .tang2 .col-lg-3, .dichvu#dem .tang2 .col-xs-4, .dichvu#dem .tang2 .col-sm-4, .dichvu#dem .tang2 .col-md-4, .dichvu#dem .tang2 .col-lg-4, .dichvu#dem .tang2 .col-xs-5, .dichvu#dem .tang2 .col-sm-5, .dichvu#dem .tang2 .col-md-5, .dichvu#dem .tang2 .col-lg-5, .dichvu#dem .tang2 .col-xs-6, .dichvu#dem .tang2 .col-sm-6, .dichvu#dem .tang2 .col-md-6, .dichvu#dem .tang2 .col-lg-6, .dichvu#dem .tang2 .col-xs-7, .dichvu#dem .tang2 .col-sm-7, .dichvu#dem .tang2 .col-md-7, .dichvu#dem .tang2 .col-lg-7, .dichvu#dem .tang2 .col-xs-8, .dichvu#dem .tang2 .col-sm-8, .dichvu#dem .tang2 .col-md-8, .dichvu#dem .tang2 .col-lg-8, .dichvu#dem .tang2 .col-xs-9, .dichvu#dem .tang2 .col-sm-9, .dichvu#dem .tang2 .col-md-9, .dichvu#dem .tang2 .col-lg-9, .dichvu#dem .tang2 .col-xs-10, .dichvu#dem .tang2 .col-sm-10, .dichvu#dem .tang2 .col-md-10, .dichvu#dem .tang2 .col-lg-10, .dichvu#dem .tang2 .col-xs-11, .dichvu#dem .tang2 .col-sm-11, .dichvu#dem .tang2 .col-md-11, .dichvu#dem .tang2 .col-lg-11, .dichvu#dem .tang2 .col-xs-12, .dichvu#dem .tang2 .col-sm-12, .dichvu#dem .tang2 .col-md-12, .dichvu#dem .tang2 .col-lg-12 {
    margin-bottom: 12px;
}

.dichvu#dem #first-widget {
    /*height: 189px;*/
}

.img-thumbnail {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

.portrait-thumbnail {

    display: block;
    width: 100%;
    padding-bottom: 73%;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

.full-thumbnail {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.fix-thumbnail {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.video-thumbnail {
    display: block;
    width: 100%;
    padding-bottom: 56.6%;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

.flex-thumbnail {
    display: block;
    width: 100%;
    height: 191px;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

.white-box-thumbnail {
    display: block;
    width: 100%;
    padding-bottom: 77%;
    background-position: 50% 50%;
    background-size: 80%;
    position: relative;
    background-repeat: no-repeat;
    background-color: #ffffff;

}




.video-thumbnail span.title, .video-thumbnail span.play-thumb {
    position: absolute;
    bottom: 15px;
}
.video-thumbnail span.title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    left: 15px;
}
.video-thumbnail span.play-thumb {
    right: 5px;
}


.video-thumbnail div.gradient {
    position: absolute;
    bottom: 0;
    /*background-color: rgba(0,0,0,0.4);*/
    height: 90px;
    width: 100%;

    background: -moz-linear-gradient(top, rgba(0,0,0,0) 2%, rgba(0,0,0,0) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(0,0,0,0)), color-stop(32%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 2%,rgba(0,0,0,0) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 2%,rgba(0,0,0,0) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 2%,rgba(0,0,0,0) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 2%,rgba(0,0,0,0) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.banner-thumbnail {
    display: block;
    width: 100%;
    padding-bottom: 39%;
    background-position: 50% 50%;
    background-size: cover;
}

.homeslider-thumbnail {
    display: block;
    width: 100%;
    height: 400px;
    /* padding-bottom: 25%; */
    background-position: 50% 50%;
    background-size: cover;
}


.btn-white, .btn-blue {
    border-radius: 35px;
    padding: 2px 20px;
    height: 28px;
    border: none;
    line-height: 1.6em;
}



.btn-blue {
    background: #0063af;
    color: #fff;
}

.btn-grey {
    background-color: #EFEFEF;
    color: #999;
    font-weight: 500;
}


.checked-radio-list {
    list-style-image: url("../img/checked-radio.png");
    padding-left: 10px;
    display: inherit;
}

.checked-radio-list li {
    float: left;
    margin-left: 25px;
    color: #333;
}

.checked-radio-list li a {
    color: #333;
}

.dichvu {
    margin-bottom: 10px;
}

.dichvu .section-title a h3 {
    color: #333;
}

.dichvu .section-title a:hover, .dichvu .section-title a:focus {
    text-decoration: none;
}

.dichvu .section-title .xemthem {
    margin-top: 20px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.br-list {
    list-style-image: url("../img/right-br.png");
    padding-left: 30px;
}

.br-list li {
    display: list-item !important;
}
.br-list li a {
    padding-left: 10px;
}

.arrow-list {
    padding-left: 10px;
    list-style-image: url("../img/right-arrow.png");
}

.arrow-list li {
    margin-bottom: 5px;
}

.arrow-list li a {
    color: #333;
}

/*CSS for chitiet page*/
.nav-sub-menu .glyphicon.small-size{
	font-size: 10px !important;
}

.nav-sub-menu {
	padding-top: 10px;
}

.nav-sub-menu i.glyphicon-chevron-right {
    opacity: 0.2;
}

.nav-sub-menu ul li:last-child a{
  color: #428bca;
}

.main-content {
	background-color: white;
    word-break: break-word;
}

.main-content#diadiem-page {
	padding: 1px 20px 10px 20px;
    margin-bottom: 30px;
}

.chitiet-content{
	padding-left: 15px;
	padding-right: 15px;
}

.chitiet-content-last{
	padding-left: 25px;
	padding-right: 25px;
  margin-bottom: 55px;
}

.nav-sub-menu a {
	color: #666666;
}

.icon-gioithieu {
	background: url('../img/i-task.png') no-repeat 0 0;
  height: 45px;
  display: block;
  margin-left: 4px;
  margin-bottom: 10px;
}

.icon-setting {
	background: url('../img/i-settings.png') no-repeat 0 0;
  height: 45px;
  display: block;
  margin-left: 4px;
  margin-bottom: 10px;
}

.icon-money {
	background: url('../img/i-money.png') no-repeat 0 0;
  height: 45px;
  display: block;
  margin-left: 4px;
  margin-bottom: 10px;
}

.icon-guide {
    background: url('../img/i-pencil.png') no-repeat 0 0;
  height: 45px;
  display: block;
  margin-left: 4px;
  margin-bottom: 10px;
}

.icon-quydinh {
    background: url('../img/icon-quy%20dinh.png') no-repeat 0 0;
  height: 45px;
  display: block;
  margin-left: 4px;
  margin-bottom: 10px;
}

.icon-hoidap {
    background: url('../img/hoidap.png') no-repeat 0 0;
    height: 45px;
    display: block;
    margin-left: 0px;
    margin-bottom: 10px;
}


.main-content .row {
  margin-top: 25px;
}

#liveinfo-slider .item {
    margin-right: 5px;
} 

i.prev-nav {
  margin-left: -45px;
  font-size: 28px;
  color: #ccc;
  margin-top: 75px;
}

i.next-nav {
  font-size: 28px;
  color: #ccc;
  margin-right: -39px;
  margin-top: -100px;
}

.page-title{
  padding-bottom: 15px;
  padding-top: 15px;
}

.page-title.dichvu-chitiet {
    margin-left: 85px;
}

.tile {

}

.tile .left-col {

}

.tile .right-col {

}

.tile .right-col .widget {
    margin-bottom: 10px;
    height: inherit;
    min-height: inherit;
}

#tile-slider .item {
    margin-right: 12px;
}

.top-menu {
    margin: 30px 0;
    background-color: #ffffff;
    position: relative;
}

.top-menu .item {

}

.top-menu.htkh .owl-item {
    /*width: 220px !important;*/
}


.top-menu .menu-item {
    background: #fff;
    padding: 20px 5px;
    text-align: center;
    height: 102px;
}

.top-menu .menu-item.head-item {
    border-right: 1px solid #e7e7e7;
}

.top-menu .menu-item.active {
    background: #e7e7e7;
}

.top-menu .menu-item.active h3 {
    color: #0063af;
}

.top-menu .menu-item a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.top-menu .menu-item img {
    height: 30px;
}

.top-menu .menu-item h3 {
    font-size: 15px;
    font-weight: 400;
}

.top-menu .prev-nav {
    
}

.top-menu .next-nav {
    right: 0;
}

.top-menu .prev-nav, .top-menu .next-nav {
    position: absolute;
    top: 40%;
}


.top-menu .prev-nav img, .top-menu .next-nav img {
    height: 20px;
}

.top-menu#mymobifone {
    margin-top: 0;
}

.top-menu#mymobifone .menu-item {
    /*padding: 0 15px;*/
}

#goicuoc-slider .widget {
    min-height: inherit;

}

.owl-item .widget {
    background-size: cover;
}


.panel-default>.panel-heading {
    background-color: #e7e7e7;
}


.panel-title>a {
    font-weight: normal;
    font-size: 18px;
}

.panel-title>a[aria-expanded='true'] {
    color: #0063af;

}

.panel-body {
    font-size: 15px;
}

.panel-smsonline {

}
.panel-smsonline .panel-heading{
    background-color: #7db751;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}
.panel-smsonline {

}
.panel-smsonline {

}
.panel-smsonline {

}

#mf-input-cal {
    padding: 0;
    border-left: none;
    background-color: transparent;

    position: absolute;
    right: 35px;
    z-index: 12;
}

.btn-fluid {
    margin-top: 20px;

    border: none;
    box-shadow: none;
    font-weight: bold;
    padding: 11px 0;
    width: 100%;
    border-radius: 3px;
    text-align: center;
}


.btn-fluid  a {
    color: #fff;
    font-size: 16px;
}

.btn-fluid  a:hover {
    text-decoration: none;
}


.btn-orange {
    background-color: #ffad01;
}


.btn-orange:hover {
    background-color: #eca81b;

}


.btn-green {
    background-color: #7db751;
}


.btn-green:hover {
    background-color: #659342;

}




.sms-online {
    font-size: 15px;
}

.sms-online .btn-toolbar button {
    color: #0063af;
}

ul.epic-style-black {
    list-style-image: url("../img/epic-liststyle-bl.png");
}

ul.epic-style-black li {
    margin-bottom: 10px;
}

ul.epic-style-black li a {
    color: #333;
}

table.no-border tbody tr td {
    border: none;
}

.khachhang-table td,th {
    text-align: center;
    color: #656462;
}

.khachhang-row {
    margin-right: 20px;
    margin-left: 20px;
}

.none-border-row{
    border-right-width:0px !important;
    border-left-width:0px !important;
    border-top-width:0px !important;
    border-bottom-width:0px !important;
}

.khachhang-progress-bar{
    background: -webkit-linear-gradient(#e8ecef, #cbcdcc) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e8ecef, #cbcdcc) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e8ecef, #cbcdcc) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e8ecef, #cbcdcc) !important; /* Standard syntax */
    border-radius:10px;
    height:50% !important;
    margin-left:5px;
    margin-top:5px;
    max-width: 98% !important;
}

.progress-slider {
    background: url('../img/slider.png') no-repeat 0 0;
    width: 35px;
    height: 35px;
    z-index: 1000;
    display: block;
}

.btn-khachhang-kq {
    background-color:#0063ae;
    color:white;
    font-weight:bold;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position:relative;
}

.charleft {
    width: auto !important;
    display: inline-block;
    margin-right: 20px;
}

.col-same-height{
    float: none;
    display: table-cell;
    vertical-align: top;
}

.row #output {
    font-weight:bold;
    margin-left: 250px;
}

/*Iphone screen*/
@media screen and (max-width: 568px){
    .row #output {
        margin-left: 120px !important;
    }

    .row {
        margin-right: -9px;
        margin-left: -9px;
    }

    .small-padding-item1, .small-padding-item2, .small-padding-item5 {
        min-height: 170px !important;
    }

    .small-padding-item3, .small-padding-item4 {
        min-height: 180px !important;
    }
}

/*Ipad screen*/
@media screen and (max-width: 768px){
    .small-padding {
        padding: 3px !important;
    }

    .row {
        margin-right: -12px;
        margin-left: -12px;
    }

    .khachhang-description {
        border-radius: 0 !important;
        max-width: 100% !important;
        bottom: 0 !important;
        height: 100% !important;
    }
}

/*PC screen*/
@media screen and (min-width: 800px){
    .small-padding-item1 {
        /*width: 109%*/
    }

    .small-padding-item3, .small-padding-item4 {
        /*width: 114%*/
    }

    .small-padding-item1, .small-padding-item2 {
        min-height: 200px !important;
    }

    .small-padding-item3, .small-padding-item4, .small-padding-item5 {
        min-height: 150px !important;
    }

    .small-padding:nth-of-type(1) {
        padding-bottom: 5px !important;
    }

    .padding-desktop {
        padding-top: 17px;
    }

    .khachhang-description {
        border-radius: 0 !important;
        max-width: 340px !important;
        bottom: 0 !important;
        height: 100% !important;
    }

    .ketqua-left-num {
        position: relative;
        left: 23px;
    }

    .ketqua-right-num {
        position: relative;
        right: 15px;
    }
}

@media screen and (min-width: 450px) and (max-width: 768px){
    .small-padding-item1, .small-padding-item2, .small-padding-item5 {
        min-height: 120px !important;
    }

    .small-padding-item3, .small-padding-item4 {
        min-height: 120px !important;
    }
}


.well {
    border: 0;
    box-shadow: none;
}

.icon-inside {

}

.icon-inside .form-control {
    height: inherit;
    border-top-right-radius: 4px !important;
     border-bottom-right-radius: 4px !important;

}

.icon-inside .input-group-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    right: 45px;
    z-index: 12;
}

.icon-inside .input-group-btn#map-marker {
    position: absolute;
    left: 1px;
    /* z-index: 1; */
    top: 1px;
}

.icon-inside .input-group-btn button {
    border: none;
    border-radius: 0;
}

.icon-inside.tri-icon input{
    padding-left: 38px;
}

.khachhang-well {
    padding: 0px !important;
    border-radius: 8px;
}

.ketqua-row {
    position: relative;
    top: 15px;
}

.main-header-wrap {
    color: #515151;
    padding-top: 25px;
}

.main-header-wrap h4 {
    padding-top: 10px;
}

.ketqua-left-num, .ketqua-right-num {
    font-size: 15px;
}

.page-title-list {
    padding-left: 10px;
}

.list-item-dem-header {
    font-size: 22px;
    /* padding-bottom: 10px; */
    position: relative;
    top: -8px;
}

.list-item-dem {
    margin-left: 10px;
    padding-bottom: 30px;
    padding-top: 10px;
    border-bottom: #ccc 1px solid;
    margin-right: 10px
}

.list-pagination {
    padding-left: 10px;
    padding-top: 10px;
}

.list-pagination>li>a {
    margin-right: 10px;
    color: white;
    background-color: #ADADAD;
    padding-top: 10px ;
    padding-right: 14px;
    padding-bottom: 10px;
}

.list-pagination>li:first-child>a {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #7ec6ff;
}

.list-pagination>li:last-child>a {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-right: 12px;
}

.list-pagination>li:hover>a {
    background-color: #7ec6ff;
}

.nav-right {
    background-color: #e6e7eb;
    border: none;
    font-size: 18px;
    color: grey;
}

.nav-right .nav-right-item {
    border-bottom: white 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.nav-right .nav-right-item:first-child {
    font-size: 20px;
    padding-bottom: 17px;
    padding-top: 17px;
}

.nav-right .nav-right-item:last-child {
    border: none;
}

.nav-right i {
    font-size: 8px;
    position: relative;
    top: -2px;
    padding-right: 6px;
}

.nav-right a{
    text-decoration: none;
    color: grey;
}

.nav-right-banner {
    padding-top: 20px;
}

.khuyenmai-list-selected {
    background: url("../img/Khuyen-Mai-danh-muc_2.jpg");
    background-repeat: no-repeat;
    width: 114px;
    height: 124px;
}

.khuyenmai-list {
    background: url("../img/Khuyen-Mai-danh-muc_1.jpg");
    background-repeat: no-repeat;
    width: 113px;
    height: 122px;
}

.khuyenmai-date {
    font-size: 38px;
    color: white;
    font-weight: bold;
}

.khuyenmai-day, .khuyenmai-month {
    position: relative;
    top: 15px;
    left: 30px;
}

.khuyenmai-tracuu {
    background-color: #e2e2e2;
}

.khuyenmai-tracuu select {
    margin-top: 10px;
}

.khuyenmai-tracuu-header {
    font-size: 20px;
    font-weight: bold;
    color: #666666;
    padding-top: 20px;
    /*padding-left: 12px;*/
    padding-bottom: 20px;
}

.group-tracuu button{
    color: #666666;
    margin-left: 14px !important;
    width: 87% !important;
}

.group-tracuu .dropdown-menu {
    margin-left: 13px;
}

.btn-tracuu {
    padding: 25px 20px;
}

.select-tracuu {
    margin: 0 20px;
}

.tintuc-chitiet-wrap {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.fb-like {
    background: url(../img/button-fb-like.jpg) no-repeat;
    cursor: pointer;
    border: none;
    width: 46px;
    height: 20px;
}

.button-likes {
    padding-top: 40px;
}

.fb-like-number {
    background: url(../img/fb-like-number.jpg) no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: -6px;
}

.fb-like-number span, .gg-like-number span {
    position: relative;
    top: 1px;
    left: -3px;
    font-size: 10px;
}

.gg-like {
    background: url(../img/google+.jpg) no-repeat;
    cursor: pointer;
    border: none;
    width: 34px;
    height: 21px;
    margin-left: 10px;
}

.gg-like-number {
    background: url(../img/googlelike.jpg) no-repeat;
    width: 20px;
    height: 21px;
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: -8px;
}

.link-list-tin {
    color: #478ec4;
}

.link-list-tin-item {
    border-bottom: #bfd8ec 1px solid;
    padding-bottom: 15px;
    padding-top: 15px;
}

.link-list-tin-item i {
    padding-right: 10px;
    font-size: 8px;
    position: relative;
    top: -1px;
}

.link-list-tin-item:first-child {
    font-size: 25px
}

.tin-show-more {
    padding-top: 15px;
}

.tin-show-more a{
    text-decoration: none;
    color:#666666;
}

.table-khuyenmai {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    margin-top: 20px;
    margin-bottom: 5px;
}

.table-khuyenmai td {
    text-align: center;
}

.khuyenmai-tracuu-giaithuong {
    margin-top: 50px;
    color: #666;
}

.khuyenmai-tracuu-giaithuong .row {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.khuyenmai-tracuu-giaithuong .glyphicon-gift {
    font-size: 45px;
}

.khuyenmai-tracuu-giaithuong .button-tracuu {
    margin-top: 11px;
}

.khuyenmai-tracuu-giaithuong .btn-group button {
    width: 100% !important;
    margin-top: 11px;
    color: #666;
}

.khuyenmai-tracuu-giaithuong .button-tracuu {
    margin-left: 0px !important;
    width: 100% !important;
}

#label-tracuu-giaithuong span {
    font-size: 21px;
    font-weight: bold;
    position: relative;
    top: 12px;
}

#label-tracuu-giaithuong i {
    font-size: 25px;
    position: relative;
    top: 16px;
}

.banner-tracuu-giaithuong {
    margin-top: 30px;
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    #label-tracuu-giaithuong span {
        font-size: 17px !important;
    }

    #label-tracuu-giaithuong i {
        font-size: 19px !important;
    }
}

.tracuu-giaithuong-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
}

.tracuu-giaithuong-ddl button {
    width: 100% !important;
}

.tracuu-giaithuong-ddl span {
    color: #666;
}

.tracuu-giaithuong-table {
    padding-top: 10px;
}

.tracuu-giaithuong-table h3:first-child {
    padding-bottom: 8px;
}

.tracuu-giaithuong-table h3:last-child {
    padding-top: 20px;
}

.tracuu-giaithuong-table th {
    color: #034591;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px !important;
}
.tracuu-giaithuong-table td {
    text-align: center;
    line-height: 30px !important;
}

.tracuu-sdt {
    background-color: #fff9e9;
}

.tracuu-sdt-form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 40px;
}

.tracuu-sdt-form img {
    max-width: none;
}

.tracuu-sdt-form .input-tracuu {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.tracuu-sdt-form button {
    margin-top: 7px;
}

.tracuu-ketqua-table {
    padding-top: 30px;
    padding-bottom: 30px;
}

.tracuu-mathuong-form {
    padding-top: 5px;
    padding-bottom: 35px;
    background-color: #fff9e9;
}

.tracuu-giaithuong-table-ketqua {
    padding-top:35px;
}

@media screen and (max-width: 768px){
    .tracuu-mathuong-form #datetimepicker2 {
        float:left !important;
    }

    .tracuu-mathuong-form #datetimepicker3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


.table > tbody > tr:first-child > td {
    border-top: none;

}

.table > tbody > tr:last-child > td {
    border-bottom: 1px solid #ddd;
}

.form-value {
    font-weight: 500;
}

.profileForm .table > tbody > tr > td:last-child {
    text-align: right;
}

.box-border {
    border: 1px solid #ddd;
    padding: 10px;
    ;
}

.form-range-date {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center
}

.result {
    margin-top: 20px;
}


.result .table {
    font-size: 13px;
}

.result table thead tr th {
    background-color: #eef5ff;
    vertical-align: middle;
    font-size: 13px;
}

.result table tbody tr td {
    text-align: center;
}

.result .table>thead>tr>th, .result .table>tbody>tr>th, .result .table>tfoot>tr>th, .result .table>thead>tr>td, .result .table>tbody>tr>td, .result .table>tfoot>tr>td {
    padding: 9px 4px;
}

.white-container {
    background-color: #FFFFFF;
}

.white-container.sitemap {
    padding: 30px;
}


.panel-group .panel {
    border-radius: 0;
}

.panel-default {
    border: 0;
    box-shadow: none;
}

.panel-default>.panel-heading {
    border-radius: 0;
}

.form-control {
    border-radius: 3px;
    /*height: 48px;*/
    box-shadow: none;

}

.bold {
    font-weight: 500;
}

.form-dangky {
    padding-top: 40px;
}

.button-dangky-captcha {
    background-image: url(../img/dangky-captcha-button.jpg);
    height: 34px;
    width: 34px;
}

.dangky-captcha-image {
    height: 34px;
    margin-top: -21px;
}

@media screen and (max-width: 991px) {
    #img-dangky-right {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .dangky-captcha-image {
        position: relative;
        /*top: 18px;*/
        /*left: -10px;*/
    }

    .dangky-captcha-image-none {
        top: 0px !important;
        left: 0px !important;
    }

    .button-dangky-captcha {
        position: relative;
        /*top: -18px;*/
        /*left: 97px;*/
    }

    .button-dangky-captcha-none {
        top: 0px !important;
        left: 0px !important;
    }
}

@media screen and (min-width: 1200px) {
    .dangky-captcha-image {
        margin-left: 9px;
    }
}

@media screen and (max-width: 767px) {
    .col-captcha {
        margin-top: 20px;
    }
}

.khangdinh-dangky {
    margin-left: 35px;
    margin-top: 30px
}

.kddk-mapin {
    margin-top:35px;
}

.kddk-mapin div:first-child, .kddk-matkhau div:first-child{
    margin-bottom: 15px;
}

.form-kddk {
    border: 1px solid #ccc;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.form-kddk button {
    margin-bottom: 20px;
}

.kddk-matkhau {
    margin-top: 30px;
    margin-bottom: 40px;
}

.header-login-wrap {
    transition-property: height, opacity;
    transition-duration: 1s;
    opacity: 0;
    display: none;
    height: 0;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    /* IE 5-7 */
    filter: alpha(opacity=0);

    /* Netscape */
    -moz-opacity: 0;

    /* Safari 1.x */
    -khtml-opacity: 0;

}

.header-login-wrap.opened {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 5-7 */
    filter: alpha(opacity=100);

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    opacity: 1;
    height: auto;
    background-color: #ddd;
    display: block;
}

.header-login {
    cursor: pointer;
}

.header-login:hover {
    color: #428bca;
}

.header-login.clicked {
    color: #428bca
}

.form-login-header {
    height: 85px;
    padding-top: 25px;
}

.input-addon-login-header {
    background-color: white;
    margin-right: 0px;
    border-right: none;
    color: #ddd;
}

.form-control-login-header {
    margin-left: -10px;
    border-left: none;
}

.dangnhap-header {
    margin-left:10px;
}

.fast-login-header {
    margin-left: 65px;
}

.fast-login-header span {
    margin-right: 15px;
    font-weight: normal;
    font-size: 15px;
}

.fas-login-header a:first-child {
    margin-right: 5px;
}

@media screen and (max-width: 1141px) {
    .fast-login-header {
        margin-top: 20px;
        margin-left: 0px;
    }

    .form-login-header {
        height: 150px;
    }
}

.checkbox-lienhe {
    margin-bottom: 20px !important;
}

.checkbox-lienhe label {
    font-weight: bold;
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .checkbox-lienhe label:first-child {
        margin-left: -20px;
    }
}

@media screen and (min-width: 1200px) {
    #btn-y-kien {
        margin-left: 12px;
    }
}

@media screen and (max-width: 991px) {
    .diachia-lienhe {
        margin-bottom: 50px !important;
    }
/*
    .dangky-captcha-image {
        margin-left: 60px;
    }*/
}

.lienhe-map {
    margin-top: 50px;
    height:400px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.diachia-lienhe {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 110px;
}

@media screen and (max-width: 320px) {
    .lienhe-map {
        height:250px;
    }
}
.news-list {
    list-style: none;
    padding: 0 25px;
    font-size: 16px;
}

.news-list li {
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 0;
    height: 43px;
    line-height: 2em;
    overflow: hidden;
}

.lienhe-col {
    padding-right: 30px;
    padding-left: 30px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .checkbox-lienhe label {
        margin-left: 0px;
    }
}


/*.news-list li.tratruoc {*/
    /*list-style-type: none;*/
/*}*/

/*.news-list li.tratruoc:before {*/
    /*content: "Trả trước - ";*/
    /*color: #0063af;*/
    /*font-weight: 500;*/
    /*font-size: 16px;*/
/*}*/

/*.news-list li.trasau {*/
    /*list-style-type: none;*/
/*}*/

/*.news-list li.trasau:before {*/
    /*content: "Trả sau - ";*/
    /*color: #ff0500;*/
    /*font-weight: 500;*/
    /*font-size: 16px;*/
/*}*/

.news-list li a {
    color: #333;

}

.news-list li:last-child {
    border: 0;
}
.news-list .first-news {
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /* number of lines to show */
    /*-webkit-line-clamp: 1;*/
    /*-webkit-box-orient: vertical;*/
    /*white-space: normal;*/
    /*word-wrap: break-word;*/
    height: 55px;
    overflow: hidden;
    line-height: 2.5em;
}

.news-list .first-news a  {
    font-size: 24px;
    color: #333;

}


.hyphen-list {
    list-style-type: none;
}
.hyphen-list li:before {
    content: " - ";
}

.white-right-arrow-list {
    list-style-image: url("../img/white-right-arrow.png");
}


.grey-widget {
    background-color: #e7e7e7;
    /*height: 40px;*/
    margin-bottom: 0px;
    /*height: 61px;*/
}

.grey-widget:hover {
    background-color: #d0d0d0;
}

.grey-widget a {
    color: #333;
    font-size: 22px;
    font-weight: 100;
    padding: 15px 20px;
    width: 100%;
    height: 100%;
    display: block;
}

.grey-widget a:hover {
    text-decoration: none;
}

.grey-widget.small-text a {
    font-size: 17px;

}

.grey-widget.gioithieu {
    height: 61px;
}

.grey-widget.gioithieu a img {
    margin-right: 5px;
}


.small-widget-dichvu .grey-widget a {
    padding: 10px 19px;
    font-size: 18px;
}


/*For Responsive Embed Google Maps*/
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.diadiem-checkbox {
    font-size: 18px;
}

.maps-result {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 471px;

    background-color: #f3f3f3;
    font-size: 16px;

}
.maps-result p {
    font-size: 16px;
}

.maps-result .header {
    background-color: #eaeaea;
    padding: 20px;
}

.maps-result .list-result {
    
}

.maps-result .list-result .result-item {
    border-bottom: 1px solid #e7e7e7;
    
}

.maps-result .list-result .result-item .nth-marker {
    background-image: url("../img/marker.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 34px;
}

.maps-result .list-result .result-item .nth-marker .order-number{
    color: #fff;
    font-weight: 600;
    position: absolute;
    left: 45%;
    top: 2px;
}

.block-link {
    display: block;
    color: inherit;
}

.block-link:hover {
    text-decoration: none;
}

.my-content-wrapper {
    margin-bottom: 40px;
}

.bottom-caption {
    position: relative;
}


.bottom-caption img{
    width: 100%;
}

.bottom-caption .caption {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 20px 10px 20px;

}


.bottom-caption .caption a {
    color: #ffffff;
    font-size: 20px;
    display: block;
    /*font-weight: 400;*/
}


.bottom-caption .caption a:hover {
    text-decoration: none;
}


.bottom-caption .caption a h3{

}



.bottom-caption .caption a p{
    font-size: 16px;
}

.gt-leftside-slide-wrap {
    background-color: #eaeaea;
}

.gt-leftside-slide {
    list-style-image: url("../img/right-br.png");
    background-color: #e5e7eb;
    padding-left: 15px;
    padding-right: 15px;
}


.gt-leftside-slide hr{
        margin: 0px 0;
}

.gt-leftside-slide li {
    padding: 12px 0;
    margin-right: 20px;
    margin-left: 20px;
}

.gt-leftside-slide li a {
    display: block;
    color: #666;
    font-size: 18px;
    font-weight: 400;
}

.gt-panel {
    margin-left: 0;
}

.gt-panel li {
    background-color: #e5e7eb;
    text-align: center;
    padding: 10px;
    height: 81px;
    width: 20%;
    display: table;
    float: left;
    border-right: 1px solid #F5F4F4;
}


.gt-panel li:first-child {
    background: url("../img/gt-doitac-panel.png") no-repeat #637f93;
    min-width: 40%;
    text-align: right;
}

.gt-panel li a {
    color: #333;
    font-size: 18px;
    /* line-height: 81px; */
    display: table-cell;
    vertical-align: middle;
}

.gt-panel li:first-child a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.gt-panel li:first-child a img {
    margin-right: 5px;
}

.gt-panel li a:hover{
    text-decoration: none;
}

.right-arrow-list {
    list-style-image: url("../img/right-br.png");
    padding-left: 0;
}

.right-arrow-list li {
    /*border-bottom: 1px solid #e0e0e0;*/
    padding: 10px 0;
    margin-left: 13px;
}

.right-arrow-list li:last-child {
    list-style: none;
}

.right-arrow-list li a {
    color: #333;
    font-size: 14px;
}
.right-arrow-list li a:hover {
    text-decoration: none;
}

.right-arrow-list hr {
    margin: 5px 0;
}


#gioithieu-slider .owl-pagination {
    position: absolute;
    top: 5px;
    left: 10px;
}
#gioithieu-slider .owl-pagination .owl-page {
    background-image: url("../img/bullet.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

#gioithieu-slider .owl-pagination .owl-page.active {
    background-image: url("../img/bullet-active.png");
}

#gioithieu-slider .owl-pagination .owl-page span {
    background: none;
    margin: 5px 1px;
}


.hidden-content {
    display: none;
}

.tang1 {
            /*margin-bottom: 4px !important;*/
}

.kh-more-service {
    margin-top: 40px;
}

.kh-more-service h3 {
    margin-bottom: 25px;
}

.quymo-selectbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.htkh-baomat-list {
    border-color: #d8d8d8;
}

.htkh-baomat-list:last-child {
    border : none;
}

.htkh-baomat-list a{
    display: table;
    color: #666;
}

.htkh-baomat-list a i {
    display: table-cell;
}

.htkh-baomat-chitiet-right-bar {
    padding-right: 15px;
    margin-top: 30px;
}

.htkh-baomat-chitiet-right-bar .list-item-dem-header {
    font-size: 18px;
    margin-top: 10px;
}

.kh-tu-chamsoc-table tr th {
    background-color: #0063af;
    color: white;
}

.kh-tu-chamsoc-table tr td {
    text-align: center;
    border-color: white;
    word-wrap: break-word;
}

.kh-tu-chamsoc-table tr:nth-child(even) td {
    background-color: #acdcff;
    border-color: white;
}

.kh-tu-chamsoc-table tr:nth-child(odd) td {
    background-color: #fefaba;
    border-color: white;
}

.kh-tu-chamsoc-table tr {
    height: 60px;
    border-color: white;
}

.kh-tu-chamsoc-table {
    width: 100%;
    border: none;
    /*table-layout: fixed;*/
}

th.stt, td.stt {
    width: 10%;
}

th.sms, td.sms {
    width: 20%;
}

th.ussd, td.ussd {
    width: 20%;
}

th.chucnang, td.chucnang {
    width: 30%;
}

th.doituong, td.doituong {
    width: 20%;
}

th.tendichvu, td.tendichvu {
    width: 60%;
}

th.madichvu, td.madichvu {
    width: 30%;
}

.kh-tu-chamsoc-table.dkdv thead tr {
    height: 45px;
}

.kh-tu-chamsoc-table.dkdv thead th {
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
    font-weight: 400;
}

.kh-tu-chamsoc-table.dkdv tbody td{
    vertical-align: middle;
}

.kh-tu-chamsoc-table.dkdv tbody td:first-child {
    font-weight: bold;
}

.kh-tu-chamsoc-table.dkdv tbody td:nth-child(2){
    text-align: left;
    font-weight: 500;
}

.htkh-table-head {
    margin-right: 15px;
    margin-bottom: -20px;
}

.htkh-table-body {
    height: 400px;
    overflow-y: scroll;
}

@media screen and (max-width: 396px) {
    .htkh-table-head{
        font-size: 11px !important;
    }
    .htkh-table-body{
        font-size: 12px !important;
    }
}

.mf-form {
    font-size: 16px;
}

.mf-form p {
    font-size: 16px;
}

.mf-form label {
    font-weight: 400;
    /*font-size: 18px;*/
}

.mf-form input {
    font-size: 18px;
}

.mf-form .form-control {
    padding: 3px 12px;
    font-size: 16px;
}

.mf-form .pull-left {
    margin-right: 20px;
}

.btn-primary {
    background-color: #0063af;
}

.nav>li {
    /*text-align: center;*/
    border-bottom: 1px solid #eeeeee;
}

.nav>li a {
    /*text-transform: uppercase;*/
    font-size: 16px;
}

.table-eef5ff {
    margin-top: 20px;
}

.table-eef5ff th {
    background-color: #eef5ff;
}

.mobile-lang {
    float: right;
    top: 23px;
    position: relative;
    right: 11px;
}

.mobile-active .active {
    color: #0063af !important;
    font-weight: 600;
}

.login-input {
    background-image: url("../img/acc.png");
}
.password-input {
    background-image: url("../img/pass.png");
}

.password-input, .login-input {
    background-repeat: no-repeat;
    padding-left: 50px;
    height: 50px;
    background-size: auto 30px;
    background-position: 12px;
}


.htkh-paragraph {
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.htkh-paragraph .row {
    margin-top: 0;
}


.nav-htkh-the {
    padding-top: 20px;
}
.nav-htkh-the.tkkhdn {
    background-color: #e7e7e7;
    padding-top: 0;
}

.nav-htkh-content {
    padding-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.nav-htkh-content table tr th {
    vertical-align: middle;
}

.nav-htkh-content table tr td {
    text-align: center;
}

.video-htkh {
    margin-top: 10px;
}

#nav-content-the-nganhang .htkh-huongdan-sudung-dich-vu {
    margin-top: 10px;
    margin-bottom: 20px;
}

.htkh-nganhang-list {
    list-style-type: none;
    padding-left: 0px;
}

.htkh-nganhang-list li{
    display: inline-block;
    margin-left: 5px;
}

.nav-htkh-content .right-line {
    border-color: #ccc;
}

@media screen and (max-width: 991px) {
    .nav-htkh-content .right-line {
        border-color: white;
    }
}

@media screen and (min-width: 1200px) {
    .htkh-nganhang-list li {
        margin-left: 10px;
    }

    .htkh-nganhang-list li:first-child {
        /*margin-left: 0px;*/
    }
}

.htkh-kh-hotro-tracuu {
    height: 400px;
    overflow: auto;
    width: 100%;
}

.htkh-kh-hotro-tracuu tr td{
    height: 60px;
    font-size: 14px;
    text-align: center;
    word-wrap: break-word;
    border: 7px solid #fff;
    vertical-align: middle;
}


.htkh-kh-hotro-tracuu table tr:nth-child(odd) td {
    background-color: #acdcff;
}

.htkh-kh-hotro-tracuu table tr:nth-child(even) td {
    background-color: #fefaba;
}

.htkh-kh-hotro-tracuu table {
    table-layout: fixed;
}

.thanhtoancuoc-panel {

}


.thanhtoancuoc-panel .tab-content>.active{
    padding: 15px;
}

.sidebar-news {
    padding: 0 30px;
}

.sidebar-title a {
    font-size: 18px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #0063af;
}

.kndl-sub-title {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.table-kndl-uudai tr th {
    background-color: #0063af;
    color: white;
    vertical-align: middle;
}

.table-kndl-uudai tr td {
    text-align: center;
    border-color: white;
    word-wrap: break-word;
    vertical-align: middle !important;
}

.table-kndl-uudai tr:nth-child(odd) td {
    background-color: #acdcff;
    border-color: white;
}

.table-kndl-uudai tr:nth-child(even) td {
    background-color: #fefaba;
    border-color: white;
}

.table-kndl-uudai tr {
    height: 60px;
    border-color: white;
}

.table-kndl-uudai {
    width: 100%;
    border: none;
    /*table-layout: fixed;*/
}


.dichvu-dangky {

}

.dichvu-dangky .white-container {
    padding: 30px 0;
}

.dichvu-dangky .help-text {
    font-weight: bold;
    color: #0063af;
    font-size: 17px;
    margin-bottom: 20px;
}
.dichvu-dangky .help-text.failed {
    color: red;
}

.dichvu-dangky .btn-primary {
    width: 150px;
}


.page-title-side {
    margin-top: 30px;
    margin-bottom: 20px;
}

input.transparent {
    background-color: transparent;
}


.panel-with-search {
    padding: 0 20px;
    background-color: #e7e7e7;
}

.panel-with-search h4 {
    font-weight: 400;

}

.panel-with-search .input-group {
    margin-top: 5px;
    margin-bottom: 5px;
}


.auto-overflow-box {
    /*height: 200px;*/
    overflow: auto;
    overflow-x: hidden;
}

.auto-overflow-box h4 {
    margin-top: 0;
}

.kndl-blue-box {
    background-color: #acdcff;
}
.kndl-blue-box ul{
    list-style: none;
    list-style: none;
    padding: 10px 15px;
}
.kndl-blue-box ul li{
    border-bottom: 1px solid #9ac6e5;
    padding: 5px 0;
    word-wrap: break-word;
}

.kndl-blue-box ul li:last-child{
    padding-bottom: 0;
    border-bottom: none;
}

hr.bold {
    border-top: 1px solid #DDD;

}

.kndl-widget {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

.kndl-widget .text-content {
    margin-left: 50%;
    position: relative;
    width: 50%;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    color: #fff;
}

.kndl-widget .text-content h3 {
    color: #ffffff;
    font-weight: 400;
}

.kndl-widget .text-content a:hover {
    text-decoration: none;
}

.kndl-widget .text-content .description {
    margin: 20px 0;
}

.kndl-widget .text-content .btn {

}

.kndl-widget-uudai {
    background-color: #36a2b5;
}

.kndl-widget-uudai a {
    color: #ffffff;
}

.kndl-widget-uudai ul {
    padding-left: 0;
    margin-left: 20px;
    margin-top: 10px;

}
.kndl-widget-uudai ul li{
    padding: 10px 0;
    border-bottom: 1px solid #56ACBB;

}

.kndl-widget-uudai ul li:last-child {
    border-bottom: none;
}

.kndl-widget-uudai ul li a {
    font-size: 15px;

}


.kh-widget {
    background-repeat: no-repeat;
    background-position: 95% 50% ;
    background-size: auto 60%;
    display: table;
    width: 100%;
    padding-right: 33%;
    padding-left: 20px;
    height: 100px;
}

.kh-widget:hover {
    text-decoration: none;
}

.kh-widget span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;

}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    z-index: -1;
}

.fix-height {
    max-height: 166px;
    overflow: hidden;
    line-height: 1.6em;
}

.fix-height h4 {
    line-height: 1em;
    height: 2em;
    overflow: hidden;
}

.checkbox label input[type="radio"]{
    /*padding-left: 0;*/
    margin-left: -20px;
}

.above-header {
    background-color: #eeeeee;
    padding: 5px 8px;
}

.above-header a {
    color: #333;
    position: relative;
    top: 1px;
}

.above-header a.active {
    color: #0063af;
}

.above-header .feather {
    font-weight: 100;
    color: #ADADAD;
    margin: 0 5px;
}


.alert-default {
    background-color: #fff;
}


.slider-wrap {
    margin-right: 5px;
}

#help .item {
    margin-right: 10px;
}

.one-head-title {
    text-align: left;
    font-size: 15px;
    vertical-align: middle !important;
    padding-left: 20px !important;
    font-weight: 400;
}

.btn-modal {
    width: 70%;
    margin: 10px 0;
    white-space: normal;
    padding: 10px 0;
}

.modal-body {
    padding: 15px 0;
}

.checkbox.special {
    background-color: #e7e7e7;
    font-size: 14px;
    padding: 5px 15px;
    width: 130px;
    float: left;
    margin: 15px 3px;
}

.mobifone-line, .mobifone-line-3 {
    height: 15px;
    width: 100%;
    display: block;
}

.mobifone-line {
    background-color: #277cbe;
}

.mobifone-line-3 #st, .mobifone-line-3 #nd, .mobifone-line-3 #rd {
    height: 100%;
    float: left;
}

.mobifone-line-3 #st {
    width: 60%;
    background-color: #277cbe;
}
.mobifone-line-3 #nd {
    width: 20%;
    background-color: #f2b03f;
}
.mobifone-line-3 #rd {
    height: 100%;
    width: 20%;
    background-color: #e13b3b;
}

.left-align {
    text-align: left !important;

}


.bottom-float {
    position: absolute;
    bottom: 4px;
}

.bottom-float.right {
    right: 0;
}

.faq-item {
    background-image: url("../img/dropdown-1.png");
    background-position: right top;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.faq-item .question {
    color: #000;
    font-size: 15px;
}


.faq-item .collapse {

}

.category {
    margin-bottom: 20px;
}

.category .root {
    padding: 8px 15px;
    background-color: #277cbe;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 2px;
}

.category .root a{
    color: #fff;
}

.category .sub-category {

    font-size: 15px;
    /* font-weight: 600; */
    margin-bottom: 2px;
}

.category .sub-category .sub-category-name {
    background-color: #CAE1F7;
    padding: 8px 15px;
}

.category .nodes {
    padding-left: 33px;
}

.category .nodes li {
    list-style-image: url('../img/right-br.png');
    margin: 10px 0;
    font-size: 15px;

}

.category .nodes li a {
    color: #333;
}

.table-responsive {
    word-break: normal;
}

img {
    max-width: 100%;
}