/* Bootstrap
===============================*/
.text-danger {
	color: #e0000b;
}

.btn-danger {
	background: #e0000b;
}

.table-bordered > thead > tr > th {
	color: #333;
}

table th {
	min-width: 50px;
}

/* Connect
===============================*/

.connect-list {
	background: #fff;
	margin: 20px 0 0;
	padding: 0;
}

.connect-list li {
	float: left;
	list-style: none;
	text-align: center;
	text-transform: uppercase;	
	width: 11%;
}

.connect-list li:first-child {
	border-right: 1px solid #e7e7e7;
	margin-right: 0.5%;
}

.connect-list li a {
	color: #333;
	display: block;
	min-height: 106px;
	padding: 20px 5px 10px;
	text-decoration: none;
}

.connect-list li img {
	display: block;
	margin: 0 auto 10px;
}

.connect-list a:hover {
	background: #e7e7e7;
	color: #1465af;
}

/* Service
==============================*/

.services-wrap {
	background: #3b8fd0;
	padding: 40px 0;
	text-align: center;
	margin-top: 20px;
}

.services-wrap .service {
	color: #fff;
}

.services-wrap .service a {
	color: #fff;
	text-decoration: none;
}

.services-wrap .service-title {
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 30px;
	text-transform: uppercase;
}

.services-wrap .service-desc {
	color: rgba(255,255,255,.9);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: lighter;
	padding: 30px 0 20px;
	text-align: justify;
}

.services-wrap .service .btn {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	padding: 10px 30px;
}

.services-wrap .service .btn:hover {
	background: #fff;
	color: #207bc1;
}

/* History
==============================*/

.history-wrap {
	margin-top: 35px;
	margin-bottom: 15px;
}

.history-wrap .btn {
	text-transform: uppercase;
}

/* Wrap content
==============================*/

.wrap-content {
	padding: 25px 0 30px;
}

/* Block
==============================*/

.block {
	text-align: center;
}

.block-title {
	border-top: 25px;
	font-size: 30px;
	font-weight: normal;
}

.block-desc {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	margin-top: 20px;
	padding: 0 30px;
}

.block .btn {
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	padding: 15px 50px;
	text-transform: uppercase;
}

/* well list
==============================*/

.well-list {
	padding: 10px 10px 0;
	margin-bottom: 30px;
	background: #e6e7eb;
}

.well-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.well-list li {
	border-bottom: 1px solid #f9f9fa;
	border-top: 1px solid #eeeef2;
	color: #61615f;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	padding: 10px 0;
}

.well-list li:first-child {
	border-top: none;
}

.well-list li:last-child {
	border-bottom: none;
}

.well-list a {
	display: block;
	color: #61615f;
	font-size: 18px;
}

.well-list a:hover {
	color: #428bca;
	text-decoration: none;
}

.well-list a:before {
	content: '\203A';
	vertical-align: text-bottom;
	margin-right: 5px;
}

/* Main content
==============================*/
.main-content {
	background: #fff;
}

.main-content-title {
	margin-top: 0;
	font-size: 28px;
	margin-bottom: 25px;
	font-weight: normal;
	text-transform: capitalize;
}

.main-content-button {
	margin-top: 30px;
	text-align: center;
	font-size: 15px;
}

.main-content-button a {
	text-decoration: underline;
}

.main-content-button .btn {
	text-transform: uppercase;
	margin-top: 20px;
	text-decoration: none;
}

.confirm-content-small {
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	padding: 60px 160px;
}

.confirm-content-small a {
	text-decoration: underline;
}

.confirm-content {
	background: #fff;
	padding: 20px 30px;
}

.confirm-content .radio .form-control {
	margin-top: 10px;
	display: block;
}

.confirm-content .form-inline .radio {
	display: block;
}

.confirm-content .form-inline em {
	display: block;
	margin-top: 10px;
}

.subpage-content {
	background: #fff;
	padding: 30px; 
}